$primary-color: #88E881;
$color-text-header: white;
//Footer
$color-bg-footer: #2B2B2B;
$color-text-footer: white;

//Formules
$color-bg-block: #D9D9D9;
$color-gradiant-first: #81E8B6;
$color-gradiant-second: #BDFF8D;